<div class="row">
	<div class="col-md-12">

		<div class="panel panel-default">
			<div class="panel-heading">
				Le tue conversazioni
			</div>
			<div class="panel-body">
				<div class="container">
					<% @conversations.each do |conversation| %>
						<% other = conversation.sender == current_user ? conversation.recipient : conversation.sender %>
						<%= link_to conversation_messages_path(conversation) do %>
							<div class="row list-item">
								<div class="col-md-2">
									<% if other.avatar? %>
										<%= image_tag other.avatar(:medium), class: "img-circle avatar-medium" %>&nbsp;
									<% elsif other.image? %>
										<%= image_tag avatar_url(other), class: "img-circle avatar-medium" %>&nbsp;
									<% else %>
										<%= image_tag 'http://www.abruzzo24ore.tv/img/3bcda8f2aed2c8f1fdea1c020dadcf39/w/300/19332.jpg', class: "img-circle avatar-medium" %>&nbsp;
									<% end %>
								</div>
								<div class="col-md-2">
									<%= other.nome %><br>
									<%= conversation.messages.last.message_time %>
								</div>
								<div class="col-md-6">
									<%= conversation.messages.last.messaggio %>
								</div>
								<div class="col-md-2">
									<% if @reservation %>
										<h4><%= @reservation.status %></h4>
									<% end %>
								</div>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>