<div class="row">
	
	<div class="col-md-9 col-md-push-3">
		<h2><%= @user.nome %></h2>
		<% if @user.photographer %>
			<div class="actions">
				<%= link_to "Questo utente e' un fotografo. Guarda il suo profilo!", photographer_path(@user.photographer), class: "btn btn-primary btn-block" %>
			</div>
		<% end %>
		<div class="description row-space-3">
			<%= simple_format(@user.descrizione) %>
		</div>
	</div>

	<div class="col-md-3 col-md-pull-9">
		<div class="center">
			<% if @user.avatar? %>
				<%= image_tag @user.avatar, class: "avatar-full" %>
			<% elsif @user.image? %>
				<%= image_tag avatar_url(@user), class: "avatar-full" %>
			<% else %>
				<%= image_tag 'http://www.abruzzo24ore.tv/img/3bcda8f2aed2c8f1fdea1c020dadcf39/w/300/19332.jpg', class: "avatar-full" %>
			<% end %>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Identificazione</div>
			<div class="panel-body">
				Email<br/>
				Telefono
			</div>
		</div>
	</div>
</div>