<div class="row">
	<div class="col-md-3">
		<ul class="sidebar-list">
			<li class="sidebar-item"><%= link_to "Il tuo annuncio", photographers_path, class: "sidebar-link" %></li>
			<li class="sidebar-item"><%= link_to "Modifica l'annuncio", edit_photographer_path(current_user.photographer), class: "sidebar-link" %></li>
			<li class="sidebar-item"><%= link_to "Le tue prenotazioni", my_reservations_path, class: "sidebar-link active" %></li>
		</ul>
	</div>


	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				Richieste ricevute
			</div>
			<div class="panel-body">
				
				<% @photographer.reservations.each do |reservation| %>
					<%= link_to photographer_reservation_path(reservation.photographer, reservation) do %>
						<div class="row list-item">
							<div class="col-md-2">
								<% if reservation.user.avatar? %>
										<%= image_tag reservation.user.avatar(:medium), class: "img-circle avatar-medium" %>&nbsp;
									<% elsif reservation.user.image? %>
										<%= image_tag avatar_url(reservation.user), class: "img-circle avatar-medium" %>&nbsp;
									<% else %>
										<%= image_tag 'http://www.abruzzo24ore.tv/img/3bcda8f2aed2c8f1fdea1c020dadcf39/w/300/19332.jpg', class: "img-circle avatar-medium" %>&nbsp;
									<% end %>
							</div>
							<div class="col-md-6">
								<h4><%= reservation.user.nome %></h4><br>
							</div>
							<div class="col-md-2 right">
								<h4>€ <%= reservation.total %></h4>
							</div>
							<div class="col-md-2">
								<%= reservation.status %> il <%= reservation.updated_at.strftime('%d-%m-%Y') %><br>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
