<div class="row">

	<div class="col-md-9 col-md-push-3">

		<% if (current_user == @reservation.photographer.user) %>

			<% if (@reservation.status == "richiesta") %>
				<div class="panel banner-status row-space-3">
					<h4><%= @other.nome %> ti ha inviato una richiesta</h4><br>
					<div class="container">
						<div class="col-md-4">
							<%= form_for ([@reservation.photographer, @reservation]) do |f| %>					
								<%= f.hidden_field :status, value: "approvata" %>
								<%= f.submit "Pre-approva", class: "btn btn-primary" %>
							<% end %>
						</div>
						<div class="col-md-4">
							<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
							  Fai un'offerta
							</button>
							<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
							  <div class="modal-dialog">
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							        <h4 class="modal-title">Offerta per <%= @other.nome %></h4>
							      </div>
							      <div class="modal-body">
							        <%= form_for ([@reservation.photographer, @reservation]) do |f| %>
										
										<div class="form-group">
											<div class="input-group">
												<div class="input-group-addon">€</div>
												<%= f.number_field :offer, class: "form-control", placeholder: "Inserisci la tua offerta"%>
											</div>
										</div>
										<%= f.hidden_field :status, value: "offerta" %>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<%= f.submit "Invia l'offerta", class: "btn btn-primary" %>
										</div>
									<% end %>
							      </div>
							    </div><!-- /.modal-content -->
							  </div><!-- /.modal-dialog -->
							</div><!-- /.modal -->
						</div>
						<div class="col-md-4">
							<%= form_for ([@reservation.photographer, @reservation]) do |f| %>
								<%= f.hidden_field :status, value: "rifiutata" %>
								<%= f.submit "Rifiuta", class: "btn btn-default" %>
							<% end %>
						</div>
					</div>
				</div>
			<% end %>

			<% if (@reservation.status == "approvata") %>
				<div class="panel banner-status row-space-3">
					<h4>Hai pre-approvato la richiesta</h4>
					La prenotazione non e' ancora conclusa. Riceverai una risposta da <%= @other.nome %> entro 24 ore.
				</div>
			<% end %>

			<% if (@reservation.status == "offerta") %>
				<div class="panel banner-status row-space-3">
					<h4>Hai inviato un'offerta</h4>
					La prenotazione non e' ancora conclusa. Riceverai una risposta da <%= @other.nome %> entro 24 ore.
				</div>
			<% end %>

			<% if (@reservation.status == "rifiutata") %>
				<div class="panel banner-status row-space-3">
					<h4>Hai rifiutato la richiesta</h4>
					Hai rifiutato l'offerta di <%= @other.nome %>. Se hai cambiato idea, prova a scrivergli un messaggio.
				</div>
			<% end %>

			<% if (@reservation.status == "cancellata") %>
				<div class="panel banner-status row-space-3">
					<h4><%= @other.nome %> ha cancellato la sua richiesta</h4>
					Se pensi che si tratti di un errore, prova a scrivergli un messaggio.
				</div>
			<% end %>

			<% if (@reservation.status == "da_pagare") %>
				<div class="panel banner-status row-space-3">
					<h4>In attesa di pagamento</h4>
					<%= @other.nome %> ha confermato la prenotazione e ha ora 24 ore per pagare la caparra.
				</div>
			<% end %>

			<% if (@reservation.status == "completata") %>
				<div class="panel banner-status row-space-3">
					<h4>La prenotazione e' confermata!</h4>
					<%= @other.nome %> ha pagato la caparra prevista e ha confermato la prenotazione.
				</div>
			<% end %>

			<% if (@reservation.status == "scaduta") %>
				<div class="panel banner-status row-space-3">
					<h4>L'offerta e' scaduta</h4>
					Se non sei riuscito a rispondere in tempo, puoi provare a scrivere un messaggio a <%= @other.nome %>.
				</div>
			<% end %>

		<% else %>

			<% if (@reservation.status == "richiesta") %>
				<div class="panel banner-status row-space-3">
					<h4>Hai inviato la richiesta</h4>
					La prenotazione non e' ancora conclusa. Riceverai una risposta da <%= @other.nome %> entro 24 ore.
				</div>
			<% end %>

			<% if (@reservation.status == "approvata") %>
				<div class="panel banner-status row-space-3">
					<h4><%= @other.nome %> ha approvato la tua richiesta</h4>
					<div class="container">
						<div class="col-md-6">
							<%= form_for ([@reservation.photographer, @reservation]) do |f| %>					
								<%= f.hidden_field :status, value: "da_pagare" %>
								<%= f.submit "Conferma la prenotazione", class: "btn btn-primary" %>
							<% end %>
						</div>
						<div class="col-md-6">
							<%= form_for ([@reservation.photographer, @reservation]) do |f| %>
								<%= f.hidden_field :status, value: "cancellata" %>
								<%= f.submit "Cancella", class: "btn btn-default" %>
							<% end %>
						</div>
					</div>
				</div>
			<% end %>

			<% if (@reservation.status == "offerta") %>
				<div class="panel banner-status row-space-3">
					<h4><%= @other.nome %> ti ha fatto un'offerta</h4>
					<div class="container">
						<div class="col-md-6">
							<%= form_for ([@reservation.photographer, @reservation]) do |f| %>					
								<%= f.hidden_field :status, value: "da_pagare" %>
								<%= f.submit "Conferma la prenotazione", class: "btn btn-primary" %>
							<% end %>
						</div>
						<div class="col-md-6">
							<%= form_for ([@reservation.photographer, @reservation]) do |f| %>
								<%= f.hidden_field :status, value: "cancellata" %>
								<%= f.submit "Rifiuta", class: "btn btn-default" %>
							<% end %>
						</div>
					</div>
				</div>
			<% end %>

			<% if (@reservation.status == "rifiutata") %>
				<div class="panel banner-status row-space-3">
					<h4>La tua richiesta e' stata declinata</h4>
					<%= @other.nome %> ha declinato la tua richiesta. Prova a trovare un altro fotografo.
				</div>
			<% end %>

			<% if (@reservation.status == "cancellata") %>
				<div class="panel banner-status row-space-3">
					<h4>Hai cancellato la tua richiesta</h4>
					Se si tratta di un errore, invia un'altra richiesta a <%= @other.nome %>.
				</div>
			<% end %>

			<% if (@reservation.status == "da_pagare") %>
				<div class="panel banner-status row-space-3">
					<h4>In attesa di pagamento</h4>
					Hai confermato la prenotazione, e ora hai 24 ore per pagare la caparra.
				</div>
			<% end %>

			<% if (@reservation.status == "completata") %>
				<div class="panel banner-status row-space-3">
					<h4>La prenotazione e' confermata!</h4>
					<%= @other.nome %> ha accettato la tua richiesta e ha ricevuto la sua caparra.
				</div>
			<% end %>

			<% if (@reservation.status == "scaduta") %>
				<div class="panel banner-status row-space-3">
					<h4>L'offerta e' scaduta</h4>
					Se non sei riuscito a rispondere in tempo, invia un'altra richiesta a <%= @other.nome %>.
				</div>
			<% end %>

		<% end %>

		<div class="panel panel-default">
			<div class="panel-heading">
				Prenotazione
			</div>
			<div class="panel-body">
				<div class="container">
					<div class="row">
						Data matrimonio: <%= @reservation.data.strftime('%d-%m-%Y') %><br>
						Luogo: <%= @reservation.indirizzo %>
					</div>
					<hr>
					<div class="row">
						<h4>Servizi:</h4>
						<div><%= "Foto Cerimonia" unless @reservation.foto_cerimonia.blank? %></div>
						<div><%= "Video Cerimonia" unless @reservation.video_cerimonia.blank? %></div>
						<div><%= "Foto Pre-Cerimonia" unless @reservation.foto_pre.blank? %></div>
						<div><%= "Video Pre-Cerimonia" unless @reservation.video_pre.blank? %></div>
						<div><%= "Foto Post-Cerimonia" unless @reservation.foto_post.blank? %></div>
						<div><%= "Video Post-Cerimonia" unless @reservation.video_post.blank? %></div>
						<div><%= "Fotografo Addizionale" unless @reservation.second_camera.blank? %></div>
						<div><%= "Cameraman Addizionale" unless @reservation.second_videocamera.blank? %></div>
						<div><%= "Consegna Foto via Web" unless @reservation.foto_hd.blank? %></div>
						<div><%= "Consegna Negativi" unless @reservation.negativi.blank? %></div>
						<div><%= "Trailer Fotografico" unless @reservation.trailer_foto.blank? %></div>
						<div><%= "Video Trailer" unless @reservation.trailer_video.blank? %></div>
						<div><%= "Riprese con drone" unless @reservation.drone.blank? %></div>
						<div><%= @reservation.num_album %> <%= "Album" unless @reservation.num_album.blank? %></div>
						<div><%= @reservation.num_mini_album %> <%= "Mini-Album" unless @reservation.num_mini_album.blank? %></div>
						<div><%= @reservation.num_dvd %> <%= "Album" unless @reservation.num_dvd.blank? %></div>
					</div>
					<hr>
					<div class="row">
						<% unless @reservation.tempi_consegna.blank? %>
							<div class="col-md-4">
								<i class="fa fa-clock-o fa-2x"></i><br>
								Consegna in <%= @reservation.tempi_consegna %>
							</div>
						<% end %>
						<% unless @reservation.num_foto.blank? %>
							<div class="col-md-4">
								<i class="fa fa-camera fa-2x"></i><br>
								Foto consegnate: <%= @reservation.num_foto %>
							</div>
						<% end %>
						<% unless @reservation.durata_video.blank? %>
							<div class="col-md-4">
								<i class="fa fa-video-camera fa-2x"></i><br>
								Durata video: <%= @reservation.durata_video %>
							</div>
						<% end %>
					</div>
					<hr>
					<div class="row">
						<div><h4>Termini di cancellazione:</h4><%= @reservation.cancellazione %></div>
						<div><h4>Gestione imprevisti:</h4><%= @reservation.imprevisti %></div>
					</div>
					<hr>
					<div class="row">
						<div><h3>Totale: €<%= @reservation.total %></h3></div>
					</div>

					<!-- google maps -->
					<div class="row">
						<div class="col-md-12">
							
							<div id="map"></div>

							<style>
						      #map {
						        width: 100%;
						        height: 400px;
						      }
						    </style>

						    <script>
						      function initMap() {
						        var mapDiv = document.getElementById('map');

						        var map = new google.maps.Map(mapDiv, {
						          center: {lat: <%= @reservation.latitude %>, lng: <%= @reservation.longitude %>},
						          zoom: 11
						        });

						        var marker = new google.maps.Marker({
						        	position: {lat: <%= @reservation.latitude %>, lng: <%= @reservation.longitude %>},
						        	title: "<%= @reservation.photographer.nome %>"
						        });
						        marker.setMap(map);
						      }
						    </script>
						    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
						        async defer></script>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="col-md-3 col-md-pull-9 text-center">
		<%= link_to (@other) do %>
			<% if @other.avatar? %>
				<%= image_tag @other.avatar(:medium), class: "img-circle avatar-large" %>&nbsp;
			<% elsif @other.image? %>
				<%= image_tag avatar_url(@other), class: "img-circle avatar-large" %>&nbsp;
			<% else %>
				<%= image_tag 'http://www.abruzzo24ore.tv/img/3bcda8f2aed2c8f1fdea1c020dadcf39/w/300/19332.jpg', class: "img-circle avatar-large" %>&nbsp;
			<% end %>
		<% end %>
		<br>
		<%= link_to @other.nome, (@other), class: "sidebar-link" %>
		<%= link_to "Invia messaggio", conversations_path(sender_id: current_user.id, recipient_id: @other.id), method: "post", class: "btn btn-default btn-block" %>
	</div>
</div>