<div class="row">
	<div class="col-md-3">
		<div class="center">
			<% if @photographer.user.avatar? %>
				<%= image_tag @photographer.user.avatar, class: "avatar-full" %>
			<% elsif @photographer.user.image? %>
				<%= image_tag avatar_url(@photographer.user), class: "avatar-full" %>
			<% else %>
				<%= image_tag 'http://www.abruzzo24ore.tv/img/3bcda8f2aed2c8f1fdea1c020dadcf39/w/300/19332.jpg', class: "avatar-full" %>
			<% end %>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Identificazione</div>
			<div class="panel-body">
				Email<br/>
				Telefono
			</div>
		</div>
	</div>


	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-body">

				<!-- Info principali -->
				<div class="row">
					<div class="col-md-12" >
							<h2><%= @photographer.nome %></h2>
							<h4><%= @photographer.titolo %></h4>
						</div>
					</div>
				</div>

				<!-- Image carousel -->
				<div class="row">
					<div class="col-md-12 center">
						<div id="myCarousel" class="carousel slide" data-ride="carousel">
						  <!-- Indicators -->
						  <% if @photos %>
							  <ol class="carousel-indicators">
								  <% @photos.each do |photo| %>
								    <li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
								  <% end %> 
							  </ol>
						  <% end %>

						  <!-- Wrapper for slides -->
						  <div class="carousel-inner" role="listbox">
						  	<% if @photos %>
						  		<% @photos.each do |photo| %>
							    	<div class="item <%= 'active' if photo.id == @photos[0].id %>">
							       		<%= image_tag photo.image.url(), class: "img-responsive", style: "max-height: 533px" %>
							    	</div>
							    <% end %>
						    <% end %>
						  </div>

						  <!-- Left and right controls -->
						  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
						    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						    <span class="sr-only">Previous</span>
						  </a>
						  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
						    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						    <span class="sr-only">Next</span>
						  </a>
						</div>

					</div>
				</div>

				<br/>

				<div class="row">
					<div class="col-md-12">

						<!-- Info secondarie -->
						<div class="row text-center">
							<% unless @photographer.tempi_consegna.blank? %>
								<div class="col-md-4">
									<i class="fa fa-clock-o fa-2x"></i><br>
									Consegna in <%= @photographer.tempi_consegna %>
								</div>
							<% end %>
							<% unless @photographer.num_foto.blank? %>
								<div class="col-md-4">
									<i class="fa fa-camera fa-2x"></i><br>
									Foto consegnate: <%= @photographer.num_foto %>
								</div>
							<% end %>
							<% unless @photographer.durata_video.blank? %>
								<div class="col-md-4">
									<i class="fa fa-video-camera fa-2x"></i><br>
									Durata video: <%= @photographer.durata_video %>
								</div>
							<% end %>
						</div>

						<hr>

						<div class="container">

							<h4>indirizzo</h4>
							<p><%= @photographer.indirizzo %></p>

							<hr>

							<h4>Maggiori informazioni</h4>
							<p><%= simple_format(@photographer.descrizione) %></p>
							
							<hr>

							<h4>Gestione imprevisti</h4>
							<p><%= @photographer.imprevisti %></p>

							<h4>Politica di cancellazione</h4>
							<p><%= @photographer.cancellazione %></p>

							<hr>


							<% if user_signed_in? %>

								<!-- form per prenotazione -->
								<div class="row">
									<div class="col-md-12">
										<%= render 'reservations/form' %>
									</div>
								</div>

								<!-- google maps -->
								<div class="row">
									<div class="col-md-12">
										
										<div id="map"></div>

										<style>
									      #map {
									        width: 100%;
									        height: 400px;
									      }
									    </style>

									    <script>
									      function initMap() {
									      	var photographer = {lat: <%= @photographer.latitude %>, lng: <%= @photographer.longitude %>}
									      	var wedding = {lat: <%= current_user.address.latitude %>, lng: <%= current_user.address.longitude %>}

									        var mapDiv = document.getElementById('map');

									        var map = new google.maps.Map(mapDiv, {
									          zoom: 11
									        });

									        var directionsDisplay = new google.maps.DirectionsRenderer({
										      map: map
										    });

										    // Set destination, origin and travel mode.
										    var request = {
										      destination: wedding,
										      origin: photographer,
										      travelMode: google.maps.TravelMode.DRIVING
										    };

										    // Pass the directions request to the directions service.
										    var directionsService = new google.maps.DirectionsService();
										    directionsService.route(request, function(response, status) {
										      if (status == google.maps.DirectionsStatus.OK) {
										        // Display the route on the map.
										        directionsDisplay.setDirections(response);
										      };
										    });
									      }
									    </script>

									</div>
								</div>

							<% else %>

								<!-- listino prezzi-->
								<div><%= "Foto Cerimonia: #{@photographer.foto_cerimonia}€" unless @photographer.foto_cerimonia.blank? %></div>
								<div><%= "Video Cerimonia: #{@photographer.video_cerimonia}€" unless @photographer.video_cerimonia.blank? %></div>
								<div><%= "Foto Pre-Cerimonia: #{@photographer.foto_pre}€" unless @photographer.foto_pre.blank? %></div>
								<div><%= "Video Pre-Cerimonia: #{@photographer.video_pre}€" unless @photographer.video_pre.blank? %></div>
								<div><%= "Foto Post-Cerimonia: #{@photographer.foto_post}€" unless @photographer.foto_post.blank? %></div>
								<div><%= "Video Post-Cerimonia: #{@photographer.video_post}€" unless @photographer.video_post.blank? %></div>
								<div><%= "Servizio fotografico prematrimoniale: #{@photographer.prematrimoniale_foto}€" unless @photographer.prematrimoniale_foto.blank? %></div>
								<div><%= "Servizio video prematrimoniale: #{@photographer.prematrimoniale_video}€" unless @photographer.prematrimoniale_video.blank? %></div>
								<div><%= 'Servizio fotografico "Trash the Dress": #{@photographer.trash_dress_foto}€' unless @photographer.trash_dress_foto.blank? %></div>
								<div><%= 'Servizio video "Trash the Dress": #{@photographer.trash_dress_video}€' unless @photographer.trash_dress_video.blank? %></div>
								<div><%= "Fotografo Addizionale: #{@photographer.second_camera}€" unless @photographer.second_camera.blank? %></div>
								<div><%= "Cameraman Addizionale: #{@photographer.second_videocamera}€" unless @photographer.second_videocamera.blank? %></div>
								<div><%= "Consegna Foto via Web: #{@photographer.foto_hd}€" unless @photographer.foto_hd.blank? %></div>
								<div><%= "Consegna Negativi: #{@photographer.negativi}€" unless @photographer.negativi.blank? %></div>
								<div><%= "Trailer Fotografico: #{@photographer.trailer_foto}€" unless @photographer.trailer_foto.blank? %></div>
								<div><%= "Video Trailer: #{@photographer.trailer_video}€" unless @photographer.trailer_video.blank? %></div>
								<div><%= "Riprese con drone: #{@photographer.drone}€" unless @photographer.drone.blank? %></div>
								<div><%= "Album: #{@photographer.album}€" unless @photographer.album.blank? %></div>
								<div><%= "Mini-Album: #{@photographer.mini_album}€" unless @photographer.mini_album.blank? %></div>
								<div><%= "Dvd: #{@photographer.dvd}€" unless @photographer.dvd.blank? %></div>
								<div><%= "Costo trasferta: #{@photographer.price_km}€ al km" unless @photographer.price_km.blank? %></div>
								<div><%= "Trasferta gratis entro #{@photographer.free_km} km" unless @photographer.free_km.blank? %></div>
								<div><%= "Trasferta massima: #{@photographer.max_km} km" unless @photographer.max_km.blank? %></div>
								
								<hr>
								<h3>Registrati o accedi per inviare una richiesta a questo fotografo!</h3>
								<hr>

								<!-- google maps -->
								<div class="row">
									<div class="col-md-12">
										
										<div id="map"></div>

										<style>
									      #map {
									        width: 100%;
									        height: 400px;
									      }
									    </style>

									    <script>
									      function initMap() {
									        var mapDiv = document.getElementById('map');
									        var map = new google.maps.Map(mapDiv, {
									          center: {lat: <%= @photographer.latitude %>, lng: <%= @photographer.longitude %>},
									          zoom: 11
									        });
									        var marker = new google.maps.Marker({
									        	position: {lat: <%= @photographer.latitude %>, lng: <%= @photographer.longitude %>},
									        	title: "<%= @photographer.nome %>"
									        });
									        marker.setMap(map);
									      }
									    </script>
									    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
									        async defer></script>

									</div>
								</div>

							<% end %>

							<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>

							<br>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>